@model WebApplication1.ViewsModel.MensagemViewModel

@{
    ViewData["Title"] = "Index";
}

@foreach (var mensagem in Model.Mensagens)
{
    <div class="card form-group">
        <div class="card-header">
            @mensagem.DataDeCriacao
        </div>
        <div class="card-body">
            <h3 class="card-title">
                @mensagem.Titulo
            </h3>
            <p class="card-text">
                @mensagem.Descricao
            </p>
            <a class="btn btn-dark" asp-route-id="@mensagem.MensagemId" asp-controller="Comentario" asp-action="Create">Comentar</a>
            <p><h5>Comentarios</h5></p>

            @foreach (var comentario in Model.Comentarios)
            {
                <p>
                    @if (mensagem.MensagemId == comentario.MensagemId)
                    {
                        @comentario.Titulo
                    }
                </p>
            }
        </div>
    </div>
}